
body {
padding: 0px;
padding-top: 125px;
background: #fff url(../images/header2.jpg) top center no-repeat;
background-repeat: no-repeat;
}


#footer{
    background: url(../images/relleno_footer.jpg) repeat-x;
    font-size: 12px;
}

th, td {
	text-align: center;
}