/* 
    Document   : frontend
    Created on : 21-oct-2013, 13:05:36
    Author     : jfcr2204
    Description:
        Purpose of the stylesheet follows.
*/

body {
padding: 0px;
padding-top: 125px;
background: #fff url(../images/header2.jpg) top center no-repeat;
background-repeat: no-repeat;
}


#footer{
    background: url(../images/relleno_footer.jpg) repeat-x;
    font-size: 12px;
}

th, td {
	text-align: center;
}

.container {
	max-width: 730px;
}

.jumbotron {
font-size: 16px;
font-weight: 100;
line-height: 2.1428571435;
color: inherit;
}